# systemd service for redis_to_discord.py.py

[Unit]
Description=redis_to_discord
After=network.target

[Service]
Type=simple
LimitNOFILE=1048576
Restart=always
RestartSec=5
User=tclib
WorkingDirectory=/opt/tc-channel-web
ExecStart=python3 redis_to_discord.py
TimeoutStopSec=2

[Install]
WantedBy=multi-user.target